*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box
}
img{
	width: 100%;
}
html {
	scroll-behavior: smooth;
}
body{
	font-family: 'Assistant', sans-serif;

}
p{
	line-height: 1.5em;
}
.clearfloat{
	clear:both;
}
.bold{
	font-weight: bolder;
}
.headers{
	font-weight: normal;
	font-size: 3em;
	text-align: center;
	color: white;
	line-height: 200px
}

/* NAVBAR */

.main-nav{
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 150px;
	padding-right: 30px;
	background: none;
	transition: all 300ms ease-in-out;
}
.small{
	height: 100px;
	padding: 0px;
	padding-right: 30px;
	background-color: rgba(0,0,0, 0.8);
}	

#navbar{
	font-family: Roboto Condensed, sans-serif;
	font-size: 18px;
	padding-top: 30px;
	line-height: 2em
}
#navbar a{
	background: none;
	color: white;
	text-align: center;
	width: 20%;
	position: relative;
    text-decoration: none;
}

#navbar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#navbar a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#navbar{
	width: 14%;
	float: right;
	display: flex;
	justify-content: space-evenly;
}
#logo{
	width: 150px;
	padding: 20px;
}


/* PRE-LOADER */
.loader-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background-color: white;
	z-index: 2;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  margin-top: 40vh;
  text-indent: -9999em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: #3f3f3f;
  background: -moz-linear-gradient(left, #3f3f3f 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #3f3f3f 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #3f3f3f 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #3f3f3f 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #3f3f3f 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #3f3f3f;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




/* HOME.HTML START */

/* HEADER */
.jumbotron{
	padding: 0px;
}

#home-header .container, #team-header .container{
	color:white;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#home-header p{
	color: #d6d6d6;
}
.titleanimation{
	opacity: 0;
	animation: titleanimation 2s 0.8s 1 forwards;
}
@keyframes titleanimation{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}	

/* MISSION TEXT */
#mission-text{
	text-align: center;
	padding: 0px 300px;
	padding-bottom: 40px;
}
#mission-text p{
	margin-bottom: 20px
}
hr{
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
#mission-text button{
	text-decoration: none;
	padding: 2px 13px 4px 13px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	font-weight: normal;
	font-size: 18px;
	color: white;
	border: none;
	transition: all 0.5s;
	border-radius: 5px;
}
a{
	text-decoration: none;
	color: white;
}
#mission-text button:hover{
	background-color: #982223;
}
#mission-text button:hover a{
	text-decoration: none;
	color: white;
}

/* INITIATIVES */
#initiatives-header{
	background-image: url(images/initiatives.jpg);
	height: 300px;
	line-height: 300px;
	background-attachment: fixed;
	background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
#initiatives img{ 
	width: 100%;
	margin-bottom: 20px;
}
.initiative-cols{
	padding: 150px 40px;
	text-align: center;
}
i{
	padding-bottom: 20px;
}

/* PARTNERS */
#partners-header{
	background-image: url(images/partners.jpg);
	height: 300px;
	line-height: 300px;
	background-attachment: fixed;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#partners{padding: 50px 100px;}
#partners .logos{padding: 30px 30px;}
#partners .college-logos{padding: 30px 50px;}
#kpmg{margin-top: 55%;}
#cj{margin-top: 30%;}
#deloitte{margin-top: 60%;}
#posco{margin-top: 60%;}
#gw{margin-top: 20%;}
#uiuc{margin-top: 40%;}

/* HOME.HTML END */



/* TEAM.HTML START */

#members{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
}
#members .container h1{
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
}
#members p{
	margin-top: 10px;
}
.separator{
    background-color: #1C1C1C;
    border-radius: 2px;
    height: 2px;
    margin: 10px auto;
    margin-top: 40px;
    width: 240px;
}
.image-containers{
	overflow: hidden;
	box-shadow: 0 0 10px #d3d3d3;
}
.image-containers img{
	width: 100%;
}
.flex-container{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 680px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.box{
	width: 170px;
	padding: 10px;
}


/* TEAM.HTML END */



/* FOOTER */

#footer{
	background-color: #1c1c1c;
	color: white;
	height: 240px;
	font-size: 2em;
	text-align: center;
	padding-top: 40px;
}
#footer h3{
	font-size: 0.5em;padding-top: 20px;
}
#footer i{
	padding: 15px;
	/* centers icons */
	margin-right: 5px;
}
#footer i:hover{
    color: crimson;
}
@media(max-width: 1400px){
	#navbar{
		width: 20%;
	}
}
@media(max-width: 992px){
	#mission-text{
		padding: 50px 20px;
	}
	#partners .logos{
		padding: 20px 20px;
	}
	#partners .college-logos{
		padding: 20px 20px;
	}
	#navbar{
		width: 30%;
	}
}
@media(max-width: 776px){
	.initiative-cols{
		padding: 40px 70px;
	}
	#navbar{
		width: 40%;
	}
}
@media(max-width: 576px){
	.display-4{
		font-size: 2.5em;
	}
	.lead{
		font-size: 1em;
	}
	#logo{
		width: 100px;
	}
	#navbar{
		font-size: 1em;
	}
	#mission-text{
		padding-top: 0px;
	}
	#initiatives-header, #partners-header{
		background-attachment: scroll;
	}
	#initiatives{
		padding: 100px 0px;
	}
	#partners-header{
		background-position: 0px -60px;
	}
	#navbar{
		width: 50%;
		padding-right: 0px;
		padding-top: 20px;
	}
	.main-nav{
		position: fixed;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 150px;
		padding-top: 0px;
		background: none;
	}
	.small{
		height: 70px;
		padding: 0px;
		font-size: 1em;
		background-color: rgba(0,0,0, 0.8);
	}
}	


